<div class="contenedor">
    <div class="cabecera">
        <h2>Desconecta para Conectar</h2>
        <h5>Tu refugio de lujo en el corazón de Tenerife</h5>
        <div class="cabecera-p">
            <p>En nuestro hotel, te invitamos a detener el tiempo y sumergirte en una experiencia exclusiva donde el
                lujo y
                la
                naturaleza se encuentran. Descubre un oasis creado para revitalizar cuerpo, mente y espíritu.</p>
        </div>
    </div>
    <section>
        <div class="texto">
            <h3>Un paraíso en la naturaleza</h3>
            <p>
                Rodeado de la belleza natural de Tenerife, nuestro hotel ofrece un entorno idílico en el que desconectar
                de
                la rutina y
                reconectar contigo mismo. Desde las terrazas exteriores hasta los jardines cuidadosamente diseñados,
                cada
                rincón te
                invita a respirar tranquilidad y admirar la serenidad del entorno.</p>
        </div>
        <div>
            <figure><img src="/images/nosotros.jpg" alt=""></figure>
        </div>
    </section>
    <section>
        <div class="imagen">
            <figure><img src="/images/nosotros2.jpg" alt=""></figure>
        </div>
        <div class="texto">
            <h3>Bienestar y relajación</h3>
            <p>
                Regálate momentos de puro descanso en nuestro spa de última generación. Masajes terapéuticos, circuitos
                de
                agua y
                tratamientos exclusivos se combinan para brindarte una experiencia de bienestar única. Sumérgete en
                nuestra
                piscina
                climatizada o relájate en el jacuzzi mientras disfrutas de las vistas inigualables.</p>
        </div>

    </section>
    <section>
        <div class="texto">
            <h3>Energía y movimiento</h3>
            <p>
                Para aquellos que buscan mantener el equilibrio entre cuerpo y mente, nuestro gimnasio completamente
                equipado ofrece
                tecnología de última generación y espacios diseñados para inspirar movimiento. Ya sea con entrenamientos
                personalizados
                o clases de yoga al aire libre, aquí encontrarás la motivación perfecta para revitalizarte..</p>
        </div>
        <div>
            <figure><img src="/images/gimnasio.jpg" alt=""></figure>
        </div>
    </section>
    <section>
        <div class="imagen">
            <figure><img src="/images/restaurante.jpg" alt=""></figure>
        </div>
        <div class="texto">
            <h3>Sabores que inspiran</h3>
            <p>
                En nuestro restaurante, los sabores se convierten en recuerdos. Disfruta de una exquisita oferta
                gastronómica que
                fusiona productos locales frescos con propuestas internacionales. Desde el buffet de desayuno hasta
                cenas
                bajo las
                estrellas en nuestra terraza, cada plato está diseñado para sorprender y deleitar tus sentidos.</p>
        </div>

    </section>
    <section>
        <div class="texto">
            <h3>Experiencias personalizadas</h3>
            <p>
                En nuestro hotel, cada detalle cuenta. Nuestro equipo se esfuerza por ofrecer un servicio personalizado
                y
                cercano,
                garantizando que cada momento de tu estancia sea especial. Ya sea una celebración íntima, un retiro
                relajante o una
                escapada romántica, estamos aquí para hacer realidad tus deseos.</p>
        </div>
        <div class="imagen">
            <figure><img src="/images/experience.jpg" alt=""></figure>
        </div>
    </section>
</div>