img {
    display: block;
    height: auto;
    width: 100%;
}

figure {
    width: 150px;
    cursor: pointer;
}

.logo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 90px 3rem;

    width: 95.5%;

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;

        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-family: var(--fuente-secundaria);
            display: inline-block;
            position: relative;

        }
    }


}

.nav-home {
    width: 70%;
    margin: 0 auto;

    li {

        display: inline-block;
        text-align: center;
    }
}

.login {

    display: flex;
    text-align: right;
    justify-content: right;
    width: 20%;


}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    /* Grosor de la línea */
    background-color: #000;
    /* Color de la línea */
    transition: width 0.3s ease;
    /* Duración y efecto del movimiento */
}

a:hover::after {
    width: 100%;
    /* Hace que la línea cubra todo el ancho del enlace */
}