.background {
    background-color: rgba(46, 89, 81, 0.3);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

h4 {
    font-family: var(--fuente-principal);
    font-weight: 500;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    font-family: var(--fuente-secundaria);
    box-sizing: border-box;
}

.form-column {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label {
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e0e0e0 !important;
    border-radius: 0;
    padding: 5px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
}

.form-control:focus {
    border-bottom: 2px solid #3c7369 !important;
    box-shadow: none;
}

.form-control::placeholder {
    color: white;
}

.input-con-icono {
    margin-top: 5px;
    width: 35%;
    border-radius: 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
    background-image: url('/images/icono_blanco.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    font-weight: 500;
    color: white;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.input-con-icono:hover {
    transform: translateX(7px);
}

.error {
    color: var(--color-error);
    font-weight: 600;
    margin-top: 4px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.error {
    color: var(--color-error);
    font-weight: 600;
    margin-top: 4px;
}

a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: var(--fuente-secundaria);
}

a:hover {
    text-decoration: underline;
}