<div class="background">
    <h4 class="text-center">Tu lugar perfecto para desconectar</h4>
    <div class="container mt-5">
        <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico"
                    formControlName="email" />
                @if(checkError('email', 'pattern')){
                <p class="error">El formato del email es incorrecto</p>
                }
                @if(checkError('email', 'required')){
                <p class="error">El email es requerido</p>
                }
            </div>

            <div class="mb-3">
                <label for="login-password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="login-password" name="password"
                    placeholder="Ingresa tu contraseña" formControlName="password" />
                @if(checkError('password', 'required')){
                <p class="error">La contraseña es requerida</p>
                }
            </div>

            <input type="submit" value="INICIAR SESIÓN" class="input-con-icono">
        </form>
        <div class="link">
            <a [routerLink]="['/registro']" class="link_registro">¿Todavía no formas parte de nuestra familia?
                Regístrate</a>
        </div>
    </div>
</div>