/*------------------------
        Globales 
-------------------------*/

/* :root {
    --color-primario: #2e5951;
    --color-secundario: #3c7369;
    --color-error: #800040;
    --fuente-principal: 'Nympha', sans-serif;
    --fuente-secundaria: 'Quicksand', sans-serif;
} */

figure {
  width: 50%;
  height: auto;
  /* border: 2px solid var(--color-secundario); */
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

figure:hover {
  transform: scale(1.02);
}

figcaption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: var(--fuente-principal);
  font-size: 30px;
  font-weight: 700;
}

.titulo {
  margin: 3.75rem auto 2.5rem auto;
  display: block;
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;

  h5 {
    font-family: "Nympha";
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-primario);
    margin: 0;
    padding: 0;
    letter-spacing: 0.0625rem;
  }

  h2 {
    margin: 20px 0 40px 0;

    p {
      font-family: "Quicksand", sans-serif;
      font-style: normal;
      font-size: 2rem;
      font-weight: 300;
      color: var(--color-premium);
    }
  }

  p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.4rem;
  }

  .icono {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 3.125rem;

    figure {
      width: 3.125rem;
      rotate: 90deg;
    }
  }
}
/*------------------------
         Buttons 
-------------------------*/
.btn-res {
  justify-content: center;
  margin: 4rem auto 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px; /* Botones más redondeados */
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.btn-primary {
  color: var(--color-primario);
  background-color: transparent;
  border-color: var(--color-premium);
  margin-bottom: 2rem;
}
.btn-primary i {
  right: 25px;
  top: 14px;
  font-size: 21px;
  color: var(--color-primario);
}

.btn-primary:hover {
  color: white;
  background-color: var(--color-secundario);
  transform: translateY(-3px);
  transition: 0.6s;

  i {
    color: white;
    transform: translateY(-3px);
    transition: 0.6s;
  }
}

.btn i {
  font-size: 18px; /* Ajusta el tamaño del ícono */
}

/*---------------------
  Room Section
-----------------------*/

.contenido {
  display: flex;
  justify-content: center;
}

.room-item {
  /* border: 2px double var(--color-secundario); */
  border-radius: 8px;
  overflow: hidden;
  /* margin-bottom: 30px;
  margin-top: 3rem; */
  width: 1200px;
  height: 600px;
  transition: transform 0.3s ease;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.41);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
}

.room-item .ri-text {
  border-top: none;
  padding: 24px 24px 30px 28px;
  max-width: 50%;
  /* max-height: 600px; */
}

.noExiste {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-primario);
  text-align: center;
  margin: 50px;
  align-items: center;

  i {
    color: var(--color-error);
    font-size: 150px;
  }
}

.room-item .ri-text h4 {
  color: var(--color-primario);
  margin-bottom: 17px;
  font-size: 3rem;
  font-family: var(--fuente-principal);
  font-weight: 700;
}

.room-item .ri-text h3 {
  color: var(--color-primario);
  font-weight: 700;
  font-size: 2rem;
}
.room-item .ri-text h3 span {
  font-family: var(--fuente-secundaria);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-secundario);
}

.room-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.room-info {
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  color: #555;
}

/*-----------------------
  Room Details Section
-------------------------*/
.description-text {
  /* font-size: 1.2rem; */
  font-family: var(--fuente-secundaria);
  color: black;
  margin-top: 1rem;
  .precio {
    font-size: 2rem;
    color: var(--color-primario);
  }
}
/* .description-info {
  font-size: 1.2rem;
  font-family: var(--fuente-secundaria);
  text-align: justify;
  color: var(--color-primario);
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

.ri-text h2 {
  margin-bottom: 2rem;
  text-align: end;
  font-family: var(--fuente-secundaria);
}
.room-details-section {
  padding-top: 0;
  padding-bottom: 80px;
}
.room-details-item {
  margin-bottom: 50px;
}
.room-details-item img {
  margin-bottom: 40px;
}
.room-details-item .rd-text .rd-title {
  overflow: hidden;
  margin-bottom: 8px;
}
.room-details-item .rd-text .rd-title h3 {
  color: #19191a;
  float: left;
}
.room-details-item .rd-text .rd-title .rdt-right {
  float: right;
  text-align: right;
}
.room-details-item .rd-text .rd-title .rdt-right .rating {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 10px;
}
.room-details-item .rd-text .rd-title .rdt-right .rating i {
  color: #f5b917;
}
.room-details-item .rd-text .rd-title .rdt-right a {
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  background: #dfa974;
  padding: 14px 28px 13px;
}
.room-details-item .rd-text h2 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 25px;
}
.room-details-item .rd-text h2 span {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #19191a;
}
