.newhab {
    width: 90%;
    margin: 0 auto;
    padding-left: 200px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-family: var(--fuente-principal);
    font-size: 70px;
    font-weight: 500;

}

h5 {
    text-align: center;
    margin: 50px 0px;
    font-family: var(--fuente-secundaria);
    font-size: 30px;
    font-weight: 300;
}

input {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--fuente-secundaria);
}

.form-group {
    margin-top: 20px;
}


select {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
}

.input-con-icono {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 25%;
    border-radius: 0;
    display: inline-flex;
    align-items: center;

    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
    background-image: url('/images/icono.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    font-weight: 500;
    color: black;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.input-con-icono:hover {
    transform: translateX(7px);
}

.error {
    color: var(--color-error);
    font-weight: 600;
    margin-top: 4px;
}

.formflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 4rem;
}

.btn-input {
    text-align: center;
}

label {
    font-family: var(--fuente-secundaria);


}