<div class="crmreserva">
    <h2>Edición de una Reserva</h2>
    <h5>Introduce los datos que quieras modificar</h5>
    <form [formGroup]="editForm" (ngSubmit)="editarReserva()">
        <div class="formflex">
            <div class="form-column">
                <div class="form-group">
                    <label class="form-label" for="fecha_entrada">Fecha de Entrada:</label>
                    <input class="form-control" type="date" id="fecha_entrada" name="fecha_entrada"
                        formControlName="fecha_entrada">
                </div>
                <div class="form-group">
                    <label class="form-label" for="fecha_salida">Fecha de Salida:</label>
                    <input class="form-control" type="date" id="fecha_salida" name="fecha_salida"
                        formControlName="fecha_salida">
                </div>

                <div class="form-group">
                    <label class="form-label" for="num_personas">Número de Personas:</label>
                    <input class="form-control" type="number" id="num_personas" name="num_personas"
                        formControlName="num_personas">
                </div>
                <div class="form-group">
                    <label class="form-label" for="regimen">Régimen</label>
                    <select class="form-control" id="regimen" name="regimen" formControlName="regimen">
                        <option value="">Selecciona una opción</option>
                        <option value="Solo Alojamiento">Solo alojamiento</option>
                        <option value="Desayuno">Desayuno</option>
                        <option value=" Media Pension">Media pensión</option>
                        <option value="Pension Completa">Pensión completa</option>
                        <option value="Todo Incluido">Todo incluido</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="desayuno">Desayuno:</label>
                    <select class="form-control" id="desayuno" name="desayuno" formControlName="desayuno"
                        formControlName="desayuno">
                        <option value="">Selecciona una opción</option>
                        <option value="continental">Continental</option>
                        <option value="buffet">Buffet</option>
                        <option value="Sin desayuno">Sin desayuno</option>
                    </select>
                </div>
            </div>

            <div class="form-column">
                <div class="form-group checkgroup">
                    <label class="form-label">Aparcamiento:</label>
                    <input class="form-control check" type="checkbox" formControlName="aparcamiento">
                </div>

                <div class="form-group checkgroup">
                    <label class="form-label">Spa:</label>
                    <input class="form-control check" type="checkbox" formControlName="spa">
                </div>
                <div class="form-group checkgroup">
                    <label class="form-label">Gimnasio:</label>
                    <input class="form-control check" type="checkbox" formControlName="gimnasio">
                </div>
                <div class="form-group checkgroup">
                    <label class="form-label">Piscina:</label>
                    <input class="form-control check" type="checkbox" formControlName="piscina">
                </div>

                <div class="form-group">
                    <label class="form-label" for="metodo_pago">Método de Pago</label>
                    <select class="form-control" id="metodo_pago" name="metodo_pago" formControlName="metodo_pago"
                        formControlName="metodo_pago">
                        <option value="">Selecciona una opción</option>
                        <option value="Visa">Visa</option>
                        <option value="Mastercard">MasterCard</option>
                        <option value="Paypal">PayPal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="cancelacion">Tipo de cancelación:</label>
                    <select class="form-control" id="cancelacion" name="cancelacion" formControlName="tipo_cancelacion">
                        <option value="">Selecciona una opción</option>
                        <option value="24h">24 horas</option>
                        <option value="48h">48 horas</option>
                        <option value="Sin cancelación">Sin cancelación</option>
                    </select>
                </div>

            </div>
        </div>


        <div class="btn-input">
            <input value="EDITAR RESERVA" class="input-con-icono" type="submit">
        </div>
    </form>
</div>