<div class="reservas-container">
    <h2>Mis Reservas</h2>

    <div class="reservas-cards">
        @for (reserva of arrReservas; track reserva.id) {
        <div class="reserva-card">
            <p><span>Número de Personas:</span> {{reserva.num_personas}}</p>
            <p><span>Fecha de Entrada:</span> {{reserva.fecha_entrada}}</p>
            <p><span>Fecha de Salida:</span> {{reserva.fecha_salida}}</p>
            <p><span>Precio:</span> {{reserva.precio}} €</p>
            <p><span>Tipo de Cancelación:</span> {{reserva.tipo_cancelacion}}</p>
            <p><span>Método de Pago:</span> {{reserva.metodo_pago}}</p>
            @if(reserva.estado !== 'Cancelada') {
            <button class="btn btn-danger" (click)="cancelarReserva(reserva.id)">Cancelar Reserva</button>
            }
        </div>
        }
    </div>
</div>