<div class="sidebar">
    <figure class="logo" [routerLink]="['']">
        <img src="/images/eira_blanco.png" alt="Eira" />
    </figure>
    <nav class="menu">
        <ul>
            <li>
                <a [routerLink]="['/dashboard/reservas']">
                    <span>Reservas</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/habitaciones']">
                    <span>Habitaciones</span>
                </a>
            </li>
        </ul>
    </nav>
</div>