.reservas-container {
    padding: 20px;
    max-width: 800px;
    text-align: center;
    margin-left: 450px;
}

h2 {
    font-family: var(--fuente-principal);
    color: var(--color-primario);
    margin-bottom: 20px;
    font-size: 50px;
}

.reserva-detalle {
    border: 2px solid var(--color-primario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserva-detalle p {
    margin: 10px 0;
    font-family: var(--fuente-secundaria);
    color: #333;
    text-align: center;
}

.reserva-detalle p strong {
    color: var(--color-primario);
}


.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-items: center;
}

.btn-primary,
.btn-danger {
    background-color: var(--color-primario);
    color: white;
}

.btn-primary:hover,
.btn-danger:hover {
    background-color: var(--color-secundario)
}